# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.pyc

# Virtual environments
venv/
.env/
.envrc
.venv/

# Parquet files
*.parquet

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# VS Code settings
.vscode/